* {
    margin: 0;
    padding: 0;
    }
    #columna1 {
    position:absolute;
    top:100px;
    left:50px;
    width:400px;
    margin-top:10px;
    
    }
    #columna2 {
    margin-left:620px;
    margin-right:20px;
    margin-top:10px;
    
    }